html, body{
    height: 100%;
}

.main{

  display: flex;
  flex-direction: column;
  background: #333;
  height: 100%;
 
}
.header {
  display: flex;
  justify-content: center;
  background: #B3DFEB;
  padding: 2% 0;
   flex: 0 0 auto;
}
.wrapper{
  display: flex;
  flex-direction: column;
    flex: 1 0 auto;
   background: yellow;
   color: #fff;
}
.nav{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background:coral;
  padding: 2% 0;
}
.content {
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex: 1 1 49.9%;
}
.left{
  background:cyan;
  flex-grow: .2;
  align-items: center;
}
.main-content{
  background:darkblue;
  flex-grow: .8;
  align-items: center;
}
.footer {
  margin-top: 10px;
  display: flex;
  background:turquoise;
flex: 0 0 auto;
justify-content: center;
}