.bg { /*значения для перекраски иконочного шрифта для соц.сетей*/
  &.bg-violet {
    background: rgb(44, 165, 240);
  }

  &.bg-blue {
    background: rgb(214, 155, 244);
  }

  &.bg-green {
    background: rgb(60, 185, 238);
  }
}
