$tablet-width: 640px;
.main-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex: 1 0 auto;
  background: linear-gradient(to bottom,
    #e0f6fc 20%,
    #edfbff 20%,
    #edfbff 40%,
    #f7fdff 20%,
    #f7fdff 60%,
    #c3ebcf 60%);
  position: relative;
  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  .grass {
    width: 100%;
    position: absolute;
    z-index: 99999;
    bottom: -2px;
  }

  .tree {
    display: none;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    @media (min-width: 900px) {
      display: inline-flex;
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
    }
  }
}


.center-content {
  order: 1;
  display: flex;
  flex: 0 0 30%;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  position: relative;
  background-color: #336666;
  @media (min-width: $tablet-width) {
    order: 2;
  }

  &__pingvin {
    position: fixed;
    bottom: 200px;
    left: 210px;
  }

  &__sinica {
    position: fixed;
    bottom: 180px;
    left: 500px;
  }

  &__snegir {
    position: fixed;
    bottom: 130px;
    left: 350px;
  }

  &__text {
    background-color: #ffffe5;
    border-radius: 5px;
    width: 332px;
    height: 370px;
    font-size: 16px;
    font-family: var(--font-family-content);
    padding: 12px;
    line-height: 1.6rem;
    opacity: 0.7;
    margin-bottom: auto;
  }

  h1 {
    font-size: 16px;
    font-family: var(--font-family-content);
    text-align: left;
    font-weight: bold;
  }

  h2 {
    padding-top: 14px;
    font-weight: bold;
  }

  &__text p {
    text-indent: 1.5rem;
  }
}

.right-content {
  order: 2;
  display: flex;
  flex: 0 0 30%;
  margin-right: 0;
  flex-direction: row;
  background: #bebdbd;
  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.left-content {
  order: 3;
  display: flex;
  flex: 0 0 30%;
  margin-left: 0;
  flex-direction: row;
  background: #aaaaf6;
  @media (min-width: $tablet-width) {
    order: 1;
  }
}
