$tablet-width: 640px;
.main-content {
  display: flex;
  overflow: clip;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 0 auto;
  background: linear-gradient(to bottom,
    #e0f6fc 20%,
    #edfbff 20%,
    #edfbff 40%,
    #f7fdff 20%,
    #f7fdff 60%,
    #c3ebcf 60%);
  position: relative;
  padding-right: 12px;
  left: 0;
  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  .grass {
    width: 100%;
    position: absolute;
    z-index: 10;
    bottom: -1.1em;
  }

  &__cloud {
    display: flex;
    position: absolute;
    margin-bottom: auto;
    left: 150px;
  }

  &__minisnegir {
    width: 24px;
    position: absolute;
    bottom: -2px;
    left: 10px;
    z-index: 8;
  }

  &__minisinica {
    width: 24px;
    position: absolute;
    bottom: -2px;
    right: 80px;
    z-index: 8;
  }

  &__pingvin {
    position: absolute;
    bottom: 50px;
    left: 40px;
  }

  &__sinica {
    position: absolute;
    bottom: 50px;
    left: 230px;
  }

  &__snegir {
    position: absolute;
    bottom: 4px;
    left: 130px;
  }

  &__book {
    position: absolute;
    bottom: 20px;
    left: 210px;
  }

  &__ring {
    position: absolute;
    width: 100%;
    bottom: 0;
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    &__pingvin {
      position: absolute;
      bottom: 100px;
      left: 280px;
    }

    &__sinica {
      position: absolute;
      bottom: 120px;
      left: 500px;
    }

    &__snegir {
      position: absolute;
      bottom: 30px;
      left: 360px;
    }
    &__book {
      position: absolute;
      bottom: 80px;
      left: 480px;
    }
    &__ring {
      position: absolute;
      height: 40%;
      bottom: -50px;
    }
    @media (min-width: 1200px) {
      &__pingvin {
        position: absolute;
        bottom: 130px;
        left: 400px;
      }

      &__sinica {
        position: absolute;
        bottom: 130px;
        left: 750px;
      }

      &__snegir {
        position: absolute;
        bottom: 60px;
        left: 600px;
      }
      &__book {
        position: absolute;
        bottom: 90px;
        left: 730px;
      }
      &__ring {
        position: absolute;
        height: 40%;
        bottom: -50px;
      }
    }
  }

  .left-content {
    order: 3;
    display: flex;
    position: relative;
    flex: 0 0 30%;
    margin-left: 0;
    margin-top: 50%;
    flex-direction: row;
    @media (min-width: $tablet-width) {
      order: 1;
      margin-top: 0;
    }

    &__tree {
      display: flex;
      position: absolute;
      height: 300%;
      left: 0;
      bottom: 0;
      z-index: 2;
      @media (min-width: $tablet-width) {
        height: 90%;
      }
    }
  }
}

.center-content {
  order: 1;
  display: flex;
  flex: 0 0 30%;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 14px 14px 14px 24px;
  height: fit-content;

  @media (min-width: $tablet-width) {
    order: 2;
    z-index: 99999;
  }

  &__text {
    background-color: #ffffe5;
    border-radius: 5px;
    max-width: 350px;
    min-width: 260px;
    height: 100%;
    padding: 8px 8px 16px;
    line-height: 1.6rem;
    opacity: 0.7;
    margin-bottom: auto;

    h1 {
      font-size: var(--font-size-default);
      font-family: var(--font-family-primary);
      text-align: left;
      font-weight: bold;
    }

    p {
      text-indent: 1.5rem;
    }

    h2 {
      font-weight: bold;
      margin-top: 12px;
    }

    @media (min-width: $tablet-width) {
      //height: 380px;
      line-height: 1.7rem;
      //padding: 12px;
    }

    @media (min-width: 1024px) {
      font-size: 18px;
      //height: 430px;
      //width: 370px;
      line-height: 1.8rem;
    }
  }
}

.right-content {
  order: 2;
  display: flex;
  flex: 0 0 30%;
  position: relative;
  flex-direction: row;
  @media (min-width: $tablet-width) {
    order: 3;
    display: flex;

  }

  section {
    width: 200px;
    height: 150px;
    position: relative;
    top: 14px;
    left: 50%;
    margin-left: -100px;
    overflow: hidden;
    background: #ffffff;
    border: 10px solid #f8c4c4;
    border-radius: 5px;
    line-height: 1.5em;
    margin-bottom: 80%;
    z-index: 10000;
    @media (min-width: $tablet-width) {
      width: 140px;
      height: 200px;
    }

    h3 {
      display: none;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      line-height: 1.2em;
    }
  }


  article {
    position: absolute;
    background: #ffffff;
    color: #000000;
    width: 180px;
    height: 150px;
    text-align: left;
    font: var(--font-family-primary);
    font-size: 12px;
    padding: 5px;
    @media (min-width: $tablet-width) {
      width: 120px;
      height: 350px;
    }

    h4 {
      font-size: 12px;
    }
  }


  article:nth-of-type(1) {
    animation: slideIn 20s linear 0s infinite;
  }

  article:nth-of-type(2) {
    animation: slideIn 20s linear 5s infinite;
  }

  article:nth-of-type(3) {
    animation: slideIn 20s linear 10s infinite;
  }

  article:nth-of-type(4) {
    animation: slideIn 20s linear 15s infinite;
  }

  @keyframes slideIn {
    0% {
      left: 200px;
    }
    /* Always 0% */
    2.5% {
      left: 0;
    }
    /* Equivalent of 0.5s e.g. 0.5/maxTime*100 */
    25% {
      left: 0;
    }
    /* Equivalent of 5s e.g. 5/maxTime*100 */
    27.5% {
      left: -200px;
    }
    /* Equivalent of 5.5s e.g. 5.5/maxTime*100 */
    100% {
      left: -200px;
    }
    /* Always 100% */
  }
}

//Контакты со страницы "Контакты"
.phones {
  font-family: var(--font-family-primary);
  margin: 24px;
  line-height: 1.9em;
  color: var(--color-brand);
}

.map {
  margin: 24px;
  overflow: hidden;

  p {
    font-family: var(--font-family-primary);
    font-size: 16px;
    color: var(--color-brand);
    text-align: left;
    padding-bottom: 24px;
  }

  &__content {
    width: 100%;
    height: 50%;
    @media (min-width: $tablet-width) {
      height: 400px;
    }
  }
}

.left-content__form {
  height: 40px;
  border-radius: 8rem;
  position: absolute;
  left: 50px;
  bottom: 500px;
  display: flex;
  background: #522B02;
  transition: all .1s;
  transition-delay: .1s;
  outline: 0 solid #ffffff;
  box-sizing: border-box;
  font-size: 14px;
  padding: 7px;
  z-index: 9999;

  input[type='number'] {
    -moz-appearance: textfield;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  @media (min-width: $tablet-width) {
    left: 50px;
    bottom: 250px;
  }
}

.left-content__input {
  border: none;
  outline: none;
  background: var(--color-white);
  border-radius: 8rem;
  width: 10em;
  padding-left: 20px;
}

