.footer {
  display: flex;
  height: 100px;
  background: #8cdbb2;
  margin-top: auto;
}

.footer-navigation {
  min-width: 370px;
  font-family: var(--font-family-secondary);
}

.footer-social {
  min-width: 500px;
  margin-left: auto;
  font-family: var(--font-family-secondary);
}