.footer {
  //display: flex;
  //height: 100px;
  background: #8cdbb2;
  margin-top: auto;
  padding: 12px 24px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-secondary);
  margin-left: auto;

  &__menu {
    display: none;

    a {
      padding-right: auto;
    }

    @media (min-width: 540px) {
      flex-direction: row;
      display: inline-flex;
    }
  }

  &__copyright {
    display: flex;
    width: 100%;

    a {
      font-size: 10px;
      padding-right: 128px;
    }
  }
}

.footer-social {
  margin-left: auto;
  display: flex;
  align-items: center;

  i {
    color: white;
  }

  &__title {
    flex: 0 0 62%;
    font-size: 16px;
    font-family: var(--font-family-secondary);
  }

  &__links {
    flex: 0 0 38%;
    display: flex;
    justify-content: space-between;

    a {
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      width: 32px;
      border-radius: 50%;
    }
  }

  @media (min-width: 540px) {
    flex-direction: column;
    max-width: 182px;

    &__title {
      flex: auto;
      margin-bottom: 16px;
    }

    &__links {
      flex: auto;
      width: 100%;
    }
  }
}