.header {
  display: flex;
  height: 100px;
  background-color: #b3dfeb;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

/*.header-logo {}*/

/*.header-navigation {
  margin-left: auto;
}*/

/*.header-search {}*/

.container {
  width: 400px;
  height: 100%;
  margin: 0 1rem;
  position: relative;
}

.searchbar {
  font-size: 16px;
  padding-left: 10px;
  width: 400px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 10rem;
  padding: 1rem;
  transition: all .1s;
  transition-delay: .1s;
}

.searchbar:hover {
  width: 404px;
  height: 44px;
}

.button {
  height: 1rem;
  position: absolute;
  top: 1rem;
  right: 1.1rem;
  transition: all .1s;
  transition-delay: .1s;
}

.button:hover {
  cursor: pointer;
}

.searchbar:hover+.button {
  height: 1rem;
  right: 5px;
}

.searchbar::placeholder {
  opacity: .3;
}