:root {
  --font-family-primary: 'Montserrat', sans-serif;
  --font-family-secondary: 'Zhizn', sans-serif;
  --font-family-content: 'Thonburi', sans-serif;
  --font-size-default: 16px;
  --font-color-default: #000000;
  --color-brand: #336666;
  --color-green: #8cdbb2;
  --color-white: #ffffff;
  --color-blue: #b3dfeb;
  --color-fon:#E0F6FC;
}
