html,
body {
  height: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  background: #333;
  height: 100%;
}
.header {
  display: flex;
  height: 100px;
  background-color: #b3dfeb;
}
.header-logo {
  min-width: 80px;
  background-color: blue;
}
.header-search {
  min-width: 300px;
  background-color: rgb(238, 95, 126);
}
.header-navigation {
  min-width: 382px;
  background-color: rgb(0, 255, 42);
  margin-left: auto;
}
.main-content {
  display: flex;
  justify-content: space-around;
  height: 100px;
  flex: 1 0 auto;
  background: linear-gradient(
    to bottom,
    #e0f6fc 20%,
    #edfbff 20%,
    #edfbff 40%,
    #f7fdff 20%,
    #f7fdff 60%,
    #c3ebcf 60%
  );
}
.left-content {
  background-color: rgb(0, 255, 42);
  min-width: 227px;
}
.center-content {
  min-width: 500px;
  background-color: rgb(255, 0, 55);
}
.right-content {
  min-width: 370px;
  background-color: blue;
}
.footer {
  display: flex;
  height: 100px;
  background: #8cdbb2;
  margin-top: auto;
}
.footer-navigation {
  min-width: 370px;
  background-color: blue;
}
.footer-social {
  min-width: 500px;
  background-color: rgb(255, 0, 55);
  margin-left: auto;
}
