html, body{
    height: 100%;
}
.main{
  display: flex;
  flex-direction: column;
  background: #333;
  height: 100%;
}
.header{
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: #B3DFEB;
}
.header-logo{
  min-width: 80px;
  background-color: blue;
  margin-right: auto;
}
.header-search {
  min-width: 300px;
  background-color: rgb(238, 95, 126);
  
}
.header-navigation{
  min-width: 382px;
  background-color: rgb(0, 255, 42);
  margin-left: auto;
}
.main-content{
  display: flex;
  flex-direction: row;
  height: 100px;
  flex: 1 0 auto;
  background:linear-gradient(to bottom, #E0F6FC 20%, #EDFBFF 20%, #EDFBFF 40%, #F7FDFF 20%, #F7FDFF 60%, #C3EBCF 60%);
  margin-top: auto;
}
.left-content{
  background-color: rgb(0, 255, 42);
  min-width: 227px;
}
.center-content{
  min-width: 500px;
  background-color: rgb(255, 0, 55);
}
.right-content{
  min-width: 370px;
  background-color: blue;
}
.footer{
  display: flex;
  flex-direction: row;
  height: 100px;
  background: #8CDBB2;
  margin-top: auto;
}
.footer-navigation{
  min-width: 370px;
  background-color: blue;
  margin-right: auto;
}
.footer-social{
  min-width: 500px;
  background-color: rgb(255, 0, 55);
  margin-left: auto;
}