@font-face {
    font-family: 'Zhizn';
    src: local('Zhizn'), url('zhizn.woff2') format('woff2'), url('zhizn.woff') format('woff'), url('zhizn.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
